2-Regresion/4-Logistica/asignament.ipynb
5-Agrupamiento/data/fraud_test.csv
6-NLP/5-Resenas_de_Hoteles_2/Data/tweets.csv
6-NLP/4-Reseñas_de_Hoteles_1/Data/Hotel_Reviews.csv
6-NLP/5-Resenas_de_Hoteles_2/Data/Hotel_Reviews_Filtered.csv
6-NLP/5-Resenas_de_Hoteles_2/Data/Hotel_Reviews_NLP.csv
Colores.css
